
.header {
    display: flex;
    color: white;
    backdrop-filter: blur(5.5px);
    background-color: rgba(250, 250, 250, 0.25);
    height: 15px;
    justify-content: space-between;
    border-bottom: 1px solid white;
    height: 50px;
    padding: 10px;

}

.header .title {
    display:flex;
    align-items: center;
    padding:5px;
    font-size:20px;
    
}

.header .title .icon{
    margin-left:10px;
    font-size:20px;
}

.logo{
    margin-left:10px;
}

