/* .main {
    backdrop-filter: blur(5.5px);
    background-color: rgba(250, 250, 250, 0.25);

    
    
  
    
    color: white;
   
    height:90vh;


}

.flex_column{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
} */